
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #000428, #004e92, #7b2ff7, #f72585);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


header h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}


.glass-box {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 30px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    max-width: 400px;
    width: 100%;
    margin: auto;
}


input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 16px;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

input:focus, textarea:focus {
    background: rgba(255, 255, 255, 0.3); 
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2); 
}


.btn-add-task {
    background: linear-gradient(45deg, #bb91fa, #367ce5);
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    font-size: 16px;
    color: #1e047b;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    margin-top: 20px;
}

.btn-add-task:hover {
    background: linear-gradient(45deg, #ACB6E5, #74ebd5);
    transform: scale(1.05);
}

.btn-add-task:focus {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}


input::placeholder, textarea::placeholder {
    color: rgba(255, 255, 255, 0.7);
}



  




